workflows/01_ical_sync.json
{
  "name": "01 — RC iCal Sync",
  "nodes": [
    {
      "id": "t1",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "position": [
        100,
        300
      ]
    },
    {
      "id": "load_apts_1",
      "name": "Load Apartments For Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        320,
        300
      ],
      "executeOnce": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, lot_id AS lot, name, ical_url, base_price FROM apartments WHERE active = TRUE AND ical_url IS NOT NULL ORDER BY id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "id": "f1",
      "name": "Fetch iCal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.ical_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 30000
        }
      },
      "position": [
        500,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "p1",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Run Once for All Items: пара (apartment, fetched_text) по индексу\nfunction toIso(s){\n  return s && s.length === 8\n    ? s.slice(0,4) + '-' + s.slice(4,6) + '-' + s.slice(6,8)\n    : s;\n}\nconst apts    = $('Load Apartments For Sync').all().map(i => i.json);\nconst fetched = $input.all().map(i => i.json);\nconst out = [];\nfor (let k = 0; k < fetched.length; k++) {\n  const apt = apts[k] || {};\n  const text = (fetched[k] && fetched[k].data) || '';\n  const aId = String(apt.id || '');\n  const aName = String(apt.name || '');\n  const lot = String(apt.lot || '');\n  const events = [];\n  if (text && text.length >= 20) {\n    let cur = {};\n    for (const line of text.split('\\n')) {\n      const s = line.trim();\n      if (s === 'BEGIN:VEVENT') cur = {};\n      else if (s.startsWith('DTSTART')) cur.start = toIso(s.split(':').pop().substring(0,8));\n      else if (s.startsWith('DTEND'))   cur.end   = toIso(s.split(':').pop().substring(0,8));\n      else if (s.startsWith('SUMMARY')) cur.summary = s.split(':').slice(1).join(':');\n      else if (s === 'END:VEVENT' && cur.start && cur.end) {\n        events.push({ ...cur, apartment_id: aId, apartment_name: aName, lot_id: lot });\n      }\n    }\n  }\n  out.push({ json: { events, count: events.length, apartment_id: aId, apartment_name: aName, lot_id: lot } });\n}\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "position": [
        700,
        300
      ]
    },
    {
      "id": "ex1",
      "name": "Expand Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "parameters": {
        "jsCode": "// Run Once for All Items: разворачиваем events всех 4 квартир и дедуплицируем по id\nconst seen = new Map();\nfor (const it of $input.all()) {\n  const events = (it.json && it.json.events) || [];\n  for (const ev of events) {\n    const key = String(ev.apartment_id) + '-' + ev.start;\n    seen.set(key, ev); // последний выигрывает\n  }\n}\nreturn Array.from(seen.values()).map(ev => ({ json: ev }));",
        "mode": "runOnceForAllItems"
      },
      "position": [
        900,
        300
      ]
    },
    {
      "id": "db1",
      "name": "Upsert Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (id, apartment_id, apartment_name, checkin_at, checkout_at, notes, source, status, updated_at)\nVALUES (\n  '{{ $json.apartment_id }}-{{ $json.start }}',\n  '{{ $json.apartment_id }}',\n  '{{ ($json.apartment_name || '').replace(/\\'/g, \"''\") }}',\n  '{{ $json.start }}'::date,\n  '{{ $json.end }}'::date,\n  '{{ (($json.summary || '').toString().trim() || 'iCal RealtyCalendar').replace(/\\'/g, \"''\") }}',\n  'realtycalendar-ical',\n  'confirmed',\n  NOW()\n)\nON CONFLICT (id) DO UPDATE SET\n  apartment_id   = EXCLUDED.apartment_id,\n  apartment_name = EXCLUDED.apartment_name,\n  checkin_at     = EXCLUDED.checkin_at,\n  checkout_at    = EXCLUDED.checkout_at,\n  notes          = EXCLUDED.notes,\n  source         = EXCLUDED.source,\n  status         = EXCLUDED.status,\n  updated_at     = NOW();",
        "options": {}
      },
      "position": [
        1100,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Load Apartments For Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch iCal": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Expand Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Events": {
      "main": [
        [
          {
            "node": "Upsert Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Apartments For Sync": {
      "main": [
        [
          {
            "node": "Fetch iCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ical"
    },
    {
      "name": "sync"
    }
  ],
  "id": "4a846531ec22acc6"
}