workflows/02_owner_bot.json
{
  "name": "02 — Owner Bot (Voice + Ollama)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "t1",
      "name": "TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_owner_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.message.voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "s1",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gelendzhik-whisper:9000/asr",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "transcribe"
            },
            {
              "name": "language",
              "value": "ru"
            },
            {
              "name": "output",
              "value": "json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "w1",
      "name": "Whisper STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Нормализация: text vs voice. Whisper мог не выполняться.\nconst trig = $(\"TelegramTrigger\").item.json;\nconst msg  = trig.message || {};\nconst telegramText = msg.text || msg.caption || \"\";\nlet whisperText = \"\";\ntry { whisperText = ($json && $json.text) || \"\"; } catch (e) {}\nconst inputText = (whisperText && whisperText.trim()) ? whisperText : telegramText;\nreturn [{ json: { input_text: inputText, chat_id: msg.chat && msg.chat.id, is_voice: !!msg.voice } }];"
      },
      "id": "norm1",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "id": "cl1",
      "name": "Polza AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://polza.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-haiku-4.5\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 350,\n  \"stream\": false,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Ты — ИИ-помощник владельца гостевого дома в Геленджике. Отвечай строго по-русски, кратко, по делу. Помогай с бронированиями, гостями, ценами, календарём, бытовыми вопросами и управленческими решениями. Используй только факты из CONTEXT. Не выполняй собственный расчёт пересечения дат. Используй только блок РАСЧЁТ ДОСТУПНОСТИ ПО БД. ЗАПРЕЩЕНО объявлять номер свободным, если в РАСЧЁТ ДОСТУПНОСТИ он помечен ЗАНЯТ или если этот блок отсутствует. Если СВОБОДНЫЕ ПО ДАННЫМ БД: нет — на запрошенный период свободных вариантов нет, прямо это скажи, и предложи посмотреть другие даты по ссылке Homereserve. Если в CONTEXT написано «даты не распознаны системой» — НЕЛЬЗЯ ни обещать, ни предлагать конкретные номера, ни говорить «свободно/занято»; единственный допустимый ответ — короткий уточняющий вопрос про дату заезда, дату выезда и количество гостей. Не выдумывай свободные даты, цены, брони, номера и ID вне CONTEXT. Если предлагаешь альтернативные номера, свободные варианты или продолжение бронирования, добавляй ссылку: https://homereserve.ru/m66FXMW0XO/list-preview. Не вставляй ссылку больше одного раза в одном ответе.\" },\n    { \"role\": \"user\",   \"content\": {{ JSON.stringify(\"CONTEXT:\\n\" + $json.context_text + \"\\n\\nВОПРОС ПОЛЬЗОВАТЕЛЯ:\\n\" + $json.input_text) }} }\n  ]\n}",
        "options": {
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "polza_header_auth",
          "name": "Polza Header Auth"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "r1",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_owner_bot"
        }
      }
    },
    {
      "id": "compose1",
      "name": "Compose Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "// Берём ответ Polza/OpenAI-compatible если есть, иначе fallback\nconst chatId = $(\"Normalize Input\").item.json.chat_id;\nlet text = \"\";\ntry {\n  const j = $json;\n  // OpenAI-compatible shape\n  const c1 = j && j.choices && j.choices[0] && j.choices[0].message && j.choices[0].message.content;\n  if (typeof c1 === 'string' && c1.trim()) text = c1.trim();\n  // Legacy Ollama shape (на случай если кто-то вернёт старый формат)\n  if (!text) {\n    const c2 = j && j.message && j.message.content;\n    if (typeof c2 === 'string' && c2.trim()) text = c2.trim();\n  }\n} catch (e) {}\nif (!text) {\n  text = 'Бот получил сообщение, но AI-модуль временно не подключен.';\n}\nreturn [{ json: { chat_id: chatId, text } }];"
      }
    },
    {
      "id": "load_apts_1",
      "name": "Load Apartments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        200
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, max_guests, rooms, base_price, COALESCE(description,'') AS description FROM apartments WHERE active = TRUE ORDER BY id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      },
      "executeOnce": true
    },
    {
      "id": "build_ctx_1",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        200
      ],
      "parameters": {
        "jsCode": "// ── Inputs ────────────────────────────────────────────────────────────────\nconst apts = $('Load Apartments').all().map(i => i.json);\nconst bks  = $('Load Bookings Window').all().map(i => i.json);\nconst gaps = $('Load Gap Windows').all().map(i => i.json);\nconst recs = $('Load Pricing Recs').all().map(i => i.json);\nconst competitorRows = $('Load Competitor Sources').all().map(i => i.json);\nconst msg  = $('Normalize Input').first().json.text || '';\n\n// ── Bookings ────────────────────────────────────────────────────────────────\nlet booksText = 'БРОНИРОВАНИЯ (ближайшие 60 дней):\\n';\nif (bks.length === 0) {\n  booksText += '  Нет броней в ближайшие 60 дней.\\n';\n} else {\n  for (const b of bks) {\n    booksText += `  • Апарт ${b.apartment_id}: ${b.checkin_at?.slice(0,10)} → ${b.checkout_at?.slice(0,10)} (${b.guests_name || 'гость'}, ${b.status})\\n`;\n  }\n}\n\n// ── Apartments ──────────────────────────────────────────────────────────────\nlet aptsText = 'АПАРТАМЕНТЫ:\\n';\nfor (const a of apts) {\n  aptsText += `  • ID ${a.id}: ${a.name || 'Апарт '+a.id}, базовая цена=${a.base_price || '?'} ₽/сут\\n`;\n}\n\n// ── Gap Windows ──────────────────────────────────────────────────────────────\nlet gapsText = 'МАЛЕНЬКИЕ ОКНА / GAP WINDOWS (1–3 ночи между бронями):\\n';\nconst openGaps = gaps.filter(g => g.status === 'open');\nif (openGaps.length === 0) {\n  gapsText += '  Маленьких окон сейчас не найдено.\\n';\n} else {\n  for (const g of openGaps) {\n    gapsText += `  • Апарт ${g.apartment_id}: ${g.gap_start} → ${g.gap_end} (${g.nights}н) — ${g.recommendation || ''}`;\n    if (g.estimated_loss) gapsText += `, потеря ~${Math.round(g.estimated_loss)} ₽`;\n    gapsText += '\\n';\n  }\n}\n\n// ── Pricing Recommendations ───────────────────────────────────────────────────\nlet recsText = 'ЦЕНОВЫЕ РЕКОМЕНДАЦИИ (C1/C1.5):\\n';\nconst draftRecs = recs.filter(r => r.status === 'draft' || r.status === 'approved');\nif (draftRecs.length === 0) {\n  recsText += '  Рекомендаций пока нет.\\n';\n} else {\n  for (const r of draftRecs) {\n    recsText += `  • Апарт ${r.apartment_id} (${r.date_from}→${r.date_to}): ${r.recommendation_type} — рекомендуем ${r.recommended_price} ₽/сут (confidence ${r.confidence?.toFixed ? r.confidence.toFixed(2) : r.confidence})\\n`;\n    recsText += `    Причина: ${r.reason}\\n`;\n  }\n}\nrecsText += '  ⚠️ Рекомендации носят advisory-характер. Цены не меняются автоматически.\\n';\n\n// ── Competitor Sources (C1.5) ─────────────────────────────────────────────────\nlet compText = 'ПРЯМЫЕ КОНКУРЕНТЫ / MARKET SOURCES (C1.5):\\n';\nconst activeSources = competitorRows.filter(c => c.status === 'active');\nconst excludedSources = competitorRows.filter(c => c.status !== 'active');\n\nif (activeSources.length === 0) {\n  compText += '  Активных конкурентов не найдено.\\n';\n} else {\n  compText += `  Активных конкурентов: ${activeSources.length}\\n`;\n  for (const c of activeSources) {\n    const priceRange = c.price_low && c.price_high ? `${c.price_low}–${c.price_high} ₽/сут` : 'цена не указана';\n    const latestPrice = c.latest_price ? `${Math.round(c.latest_price)} ₽/сут` : 'нет данных';\n    const lastObserved = c.last_observed_at ? new Date(c.last_observed_at).toLocaleDateString('ru-RU') : 'никогда';\n    const staleWarn = c.is_stale ? ' ⚠️ данные устарели' : '';\n    compText += `  • ${c.name} (similarity ${c.similarity_score}%)\\n`;\n    compText += `    Платформа: ${c.source_platform}, район: ${c.district || '?'}\\n`;\n    compText += `    Цена сезона: ${priceRange}${staleWarn}\\n`;\n    compText += `    Последнее наблюдение: ${latestPrice} (${lastObserved})\\n`;\n  }\n}\n\nif (activeSources.length > 0) {\n  const prices = activeSources.map(c => c.latest_price).filter(p => p);\n  if (prices.length > 0) {\n    const sorted = prices.map(p => parseFloat(p)).sort((a,b)=>a-b);\n    const median = sorted[Math.floor(sorted.length/2)];\n    compText += `  Рыночная медиана по конкурентам: ~${Math.round(median)} ₽/сут\\n`;\n  }\n  const hasStale = activeSources.some(c => c.is_stale);\n  if (hasStale) {\n    compText += `  ⚠️ Часть данных конкурентов — seed/устаревшие. Рекомендуется ручная проверка.\\n`;\n  }\n}\n\n// ── Final context ─────────────────────────────────────────────────────────────\nconst context_text = [\n  '=== КОНТЕКСТ ДЛЯ ОТВЕТА ВЛАДЕЛЬЦУ ===',\n  aptsText,\n  booksText,\n  gapsText,\n  recsText,\n  compText,\n  '=== КОНЕЦ КОНТЕКСТА ==='\n].join('\\n');\n\nreturn [{ json: { context_text, user_message: msg } }];\n"
      }
    },
    {
      "id": "load_book_1",
      "name": "Load Bookings Window",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        360
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT apartment_id,   to_char(checkin_at,'YYYY-MM-DD')  AS checkin_at,   to_char(checkout_at,'YYYY-MM-DD') AS checkout_at,   status, source, COALESCE(notes,'') AS notes FROM bookings WHERE checkout_at >= CURRENT_DATE   AND checkin_at  <= CURRENT_DATE + INTERVAL '90 days'   AND status IN ('confirmed','booking') ORDER BY apartment_id, checkin_at;",
        "options": {
          "queryBatching": "single"
        }
      },
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT gw.apartment_id, a.name AS apartment_name,\n       to_char(gw.gap_start,'YYYY-MM-DD') AS gap_start,\n       to_char(gw.gap_end,'YYYY-MM-DD')   AS gap_end,\n       gw.nights, gw.estimated_loss, gw.recommendation\nFROM gap_windows gw\nJOIN apartments a ON a.id = gw.apartment_id\nWHERE gw.status = 'open'\n  AND gw.gap_start >= CURRENT_DATE\nORDER BY gw.estimated_loss DESC NULLS LAST, gw.gap_start",
        "options": {}
      },
      "id": "load_gap_windows",
      "name": "Load Gap Windows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pr.apartment_id, a.name AS apartment_name,\n       to_char(pr.date_from,'YYYY-MM-DD') AS date_from,\n       to_char(pr.date_to,'YYYY-MM-DD')   AS date_to,\n       pr.nights, pr.current_price, pr.recommended_price,\n       pr.recommendation_type, pr.reason, pr.confidence\nFROM pricing_recommendations pr\nJOIN apartments a ON a.id = pr.apartment_id\nWHERE pr.status IN ('draft','approved') AND pr.date_from >= CURRENT_DATE\nORDER BY pr.confidence DESC NULLS LAST, pr.date_from",
        "options": {}
      },
      "id": "load_pricing_recs",
      "name": "Load Pricing Recs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cs.name, cs.source_platform, cs.url, cs.district,\n  cs.similarity_score, cs.status,\n  cs.price_low, cs.price_high,\n  cs.selection_reason, cs.exclusion_reason,\n  cs.last_checked_at,\n  (SELECT cpo.price_per_night\n   FROM competitor_price_observations cpo\n   WHERE cpo.competitor_source_id = cs.id\n   ORDER BY cpo.observed_at DESC LIMIT 1) AS latest_price,\n  (SELECT cpo.observed_at\n   FROM competitor_price_observations cpo\n   WHERE cpo.competitor_source_id = cs.id\n   ORDER BY cpo.observed_at DESC LIMIT 1) AS last_observed_at,\n  (SELECT (NOW() - cpo.observed_at) > INTERVAL '14 days'\n   FROM competitor_price_observations cpo\n   WHERE cpo.competitor_source_id = cs.id\n   ORDER BY cpo.observed_at DESC LIMIT 1) AS is_stale\nFROM competitor_sources cs\nORDER BY cs.status, cs.priority",
        "additionalFields": {}
      },
      "id": "pg-load-competitor-sources-02",
      "name": "Load Competitor Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        640,
        770
      ],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Is Voice?": {
      "main": [
        [
          {
            "node": "Whisper STT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper STT": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Apartments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramTrigger": {
      "main": [
        [
          {
            "node": "Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polza AI": {
      "main": [
        [
          {
            "node": "Compose Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Apartments": {
      "main": [
        [
          {
            "node": "Load Bookings Window",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Gap Windows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Pricing Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Polza AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Bookings Window": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Gap Windows": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Pricing Recs": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Competitor Sources": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "c9a5874f34e45e4d"
}