workflows/02_owner_bot.json
{
  "name": "02 — Owner Bot (Voice + Ollama)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "t1",
      "name": "TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_owner_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.message.voice }}",
              "value2": true
            }
          ]
        }
      },
      "id": "s1",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gelendzhik-whisper:9000/asr",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "task",
              "value": "transcribe"
            },
            {
              "name": "language",
              "value": "ru"
            },
            {
              "name": "output",
              "value": "json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "w1",
      "name": "Whisper STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "// Нормализация: text vs voice. Whisper мог не выполняться.\nconst trig = $(\"TelegramTrigger\").item.json;\nconst msg  = trig.message || {};\nconst telegramText = msg.text || msg.caption || \"\";\nlet whisperText = \"\";\ntry { whisperText = ($json && $json.text) || \"\"; } catch (e) {}\nconst inputText = (whisperText && whisperText.trim()) ? whisperText : telegramText;\nreturn [{ json: { input_text: inputText, chat_id: msg.chat && msg.chat.id, is_voice: !!msg.voice } }];"
      },
      "id": "norm1",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "id": "cl1",
      "name": "Polza AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1050,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://polza.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-haiku-4.5\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 350,\n  \"stream\": false,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Ты — ИИ-помощник владельца гостевого дома в Геленджике. Отвечай строго по-русски, кратко, по делу. Помогай с бронированиями, гостями, ценами, календарём, бытовыми вопросами и управленческими решениями. Используй только факты из CONTEXT. Не выполняй собственный расчёт пересечения дат. Используй только блок РАСЧЁТ ДОСТУПНОСТИ ПО БД. ЗАПРЕЩЕНО объявлять номер свободным, если в РАСЧЁТ ДОСТУПНОСТИ он помечен ЗАНЯТ или если этот блок отсутствует. Если СВОБОДНЫЕ ПО ДАННЫМ БД: нет — на запрошенный период свободных вариантов нет, прямо это скажи, и предложи посмотреть другие даты по ссылке Homereserve. Если в CONTEXT написано «даты не распознаны системой» — НЕЛЬЗЯ ни обещать, ни предлагать конкретные номера, ни говорить «свободно/занято»; единственный допустимый ответ — короткий уточняющий вопрос про дату заезда, дату выезда и количество гостей. Не выдумывай свободные даты, цены, брони, номера и ID вне CONTEXT. Если предлагаешь альтернативные номера, свободные варианты или продолжение бронирования, добавляй ссылку: https://homereserve.ru/m66FXMW0XO/list-preview. Не вставляй ссылку больше одного раза в одном ответе.\" },\n    { \"role\": \"user\",   \"content\": {{ JSON.stringify(\"CONTEXT:\\n\" + $json.context_text + \"\\n\\nВОПРОС ПОЛЬЗОВАТЕЛЯ:\\n\" + $json.input_text) }} }\n  ]\n}",
        "options": {
          "timeout": 30000
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "polza_header_auth",
          "name": "Polza Header Auth"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "r1",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_owner_bot"
        }
      }
    },
    {
      "id": "compose1",
      "name": "Compose Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "jsCode": "// Берём ответ Polza/OpenAI-compatible если есть, иначе fallback\nconst chatId = $(\"Normalize Input\").item.json.chat_id;\nlet text = \"\";\ntry {\n  const j = $json;\n  // OpenAI-compatible shape\n  const c1 = j && j.choices && j.choices[0] && j.choices[0].message && j.choices[0].message.content;\n  if (typeof c1 === 'string' && c1.trim()) text = c1.trim();\n  // Legacy Ollama shape (на случай если кто-то вернёт старый формат)\n  if (!text) {\n    const c2 = j && j.message && j.message.content;\n    if (typeof c2 === 'string' && c2.trim()) text = c2.trim();\n  }\n} catch (e) {}\nif (!text) {\n  text = 'Бот получил сообщение, но AI-модуль временно не подключен.';\n}\nreturn [{ json: { chat_id: chatId, text } }];"
      }
    },
    {
      "id": "load_apts_1",
      "name": "Load Apartments",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        200
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, max_guests, rooms, base_price, COALESCE(description,'') AS description FROM apartments WHERE active = TRUE ORDER BY id;",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      },
      "executeOnce": true
    },
    {
      "id": "build_ctx_1",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        200
      ],
      "parameters": {
        "jsCode": "// CONTEXT: дата + объекты + окно занятости + DETERMINISTIC AVAILABILITY с расширенным парсером\nconst today = new Date();\nconst isoDate = today.toISOString().slice(0,10);\nconst currentYear = Number(isoDate.slice(0,4));\n\n\n// Load gap windows\nlet gapWindows = [];\ntry { gapWindows = $('Load Gap Windows').all().map(i => i.json).filter(Boolean); } catch(e) {}\n\nlet apts = [];\ntry { apts = $('Load Apartments').all().map(i => i.json).filter(Boolean); } catch (e) { apts = []; }\nlet books = [];\ntry { books = $('Load Bookings Window').all().map(i => i.json).filter(Boolean); } catch (e) { books = []; }\nconst aptName = {};\nfor (const a of apts) { if (a && a.id) aptName[String(a.id)] = a.name; }\nfunction isoOnly(v) {\n  if (!v) return '';\n  const s = String(v);\n  return s.length >= 10 ? s.slice(0,10) : s;\n}\n\n// ---- date parsing helpers ----\nconst MONTHS = {\n  'январ':1,'феврал':2,'март':3,'апрел':4,'мая':5,'май':5,'мае':5,\n  'июн':6,'июл':7,'август':8,'авгус':8,'сентябр':9,'октябр':10,'ноябр':11,'декабр':12\n};\nfunction pad2(n){ n=String(n); return n.length<2?'0'+n:n; }\nfunction ymd(y,m,dd){ return String(y)+'-'+pad2(m)+'-'+pad2(dd); }\nfunction chooseYear(monthNum){\n  const todayMonth = today.getUTCMonth()+1;\n  if (monthNum >= todayMonth) return currentYear;\n  return currentYear + 1;\n}\nfunction findMonth(text){\n  const t = (text || '').toLowerCase();\n  let bestKey = null, bestPos = -1;\n  for (const k of Object.keys(MONTHS)) {\n    const p = t.indexOf(k);\n    if (p !== -1 && (bestPos === -1 || p < bestPos)) { bestKey = k; bestPos = p; }\n  }\n  return bestKey ? MONTHS[bestKey] : null;\n}\n// Strip markdown/asterisks etc to simplify regex\nfunction normText(s){\n  return (s||'').replace(/[*_`]+/g,' ').replace(/[ \\t]+/g,' ').toLowerCase();\n}\n// Parse single date string like:\n//   \"12 июля 2026\" / \"12 июля\" / \"12.07.2026\" / \"12.07\" / \"12/07/2026\"\nfunction parseSingleDate(s){\n  if (!s) return null;\n  const t = s.trim().toLowerCase();\n  let m = t.match(/(\\d{1,2})[.\\/](\\d{1,2})(?:[.\\/](\\d{2,4}))?/);\n  if (m){\n    const d=+m[1], mo=+m[2];\n    let y = m[3] ? (+m[3] < 100 ? 2000 + +m[3] : +m[3]) : chooseYear(mo);\n    return ymd(y, mo, d);\n  }\n  m = t.match(/(\\d{1,2})\\s*([а-яё]+)(?:\\s+(\\d{4}))?/);\n  if (m){\n    const d=+m[1], mn=findMonth(m[2]);\n    if (mn){\n      const y = m[3] ? +m[3] : chooseYear(mn);\n      return ymd(y, mn, d);\n    }\n  }\n  return null;\n}\n// Main parser, supports multiple structured forms.\nfunction parseDateRange(rawText){\n  if (!rawText) return null;\n  const raw = String(rawText);\n  const t = normText(raw);\n\n  // 0) \"Заезд: ... / Выезд: ...\" (structured) — checkin / checkout / from / to / arrival / departure\n  const reCheckin  = /(?:заезд|заселени[ея]|приезд|c\\s*даты|c|with|from|arrival)\\s*[:\\-—]?\\s*([0-9]{1,2}[.\\/][0-9]{1,2}(?:[.\\/][0-9]{2,4})?|[0-9]{1,2}\\s+[а-яё]+(?:\\s+\\d{4})?)/i;\n  const reCheckout = /(?:выезд|выселени[ея]|отъезд|до\\s*даты|до|until|to|departure|checkout)\\s*[:\\-—]?\\s*([0-9]{1,2}[.\\/][0-9]{1,2}(?:[.\\/][0-9]{2,4})?|[0-9]{1,2}\\s+[а-яё]+(?:\\s+\\d{4})?)/i;\n  const mIn  = t.match(reCheckin);\n  const mOut = t.match(reCheckout);\n  if (mIn && mOut) {\n    const a = parseSingleDate(mIn[1]);\n    const b = parseSingleDate(mOut[1]);\n    if (a && b) return { start: a, end: b };\n  }\n\n  // 1) \"DD.MM[.YYYY] - DD.MM[.YYYY]\"  /  \"с DD.MM по DD.MM\"\n  let m = t.match(/(\\d{1,2})[.\\/](\\d{1,2})(?:[.\\/](\\d{2,4}))?\\s*[-–—по]+\\s*(\\d{1,2})[.\\/](\\d{1,2})(?:[.\\/](\\d{2,4}))?/);\n  if (m){\n    const d1=+m[1], mo1=+m[2], y1=m[3]?(+m[3]<100?2000+ +m[3]:+m[3]):chooseYear(mo1);\n    const d2=+m[4], mo2=+m[5], y2=m[6]?(+m[6]<100?2000+ +m[6]:+m[6]):chooseYear(mo2);\n    return { start: ymd(y1,mo1,d1), end: ymd(y2,mo2,d2) };\n  }\n\n  // 2) \"с D MONTH (YYYY) по D MONTH (YYYY)\"\n  m = t.match(/с\\s+(\\d{1,2})\\s+([а-яё]+)(?:\\s+(\\d{4}))?\\s+по\\s+(\\d{1,2})\\s+([а-яё]+)(?:\\s+(\\d{4}))?/);\n  if (m){\n    const d1=+m[1], d2=+m[4];\n    const mn1=findMonth(m[2]), mn2=findMonth(m[5]);\n    if (mn1 && mn2){\n      const y1 = m[3]?+m[3]:chooseYear(mn1);\n      const y2 = m[6]?+m[6]:((mn2 < mn1) ? y1+1 : y1);\n      return { start: ymd(y1,mn1,d1), end: ymd(y2,mn2,d2) };\n    }\n  }\n\n  // 3) \"D MONTH — D MONTH (YYYY)\"  /  \"D MONTH - D MONTH (YYYY)\"\n  m = t.match(/(\\d{1,2})\\s+([а-яё]+)\\s*[-–—]\\s*(\\d{1,2})\\s+([а-яё]+)(?:\\s+(\\d{4}))?/);\n  if (m){\n    const d1=+m[1], d2=+m[3];\n    const mn1=findMonth(m[2]), mn2=findMonth(m[4]);\n    if (mn1 && mn2){\n      const y1 = m[5]?+m[5]:chooseYear(mn1);\n      const y2 = (mn2 < mn1) ? y1+1 : y1;\n      return { start: ymd(y1,mn1,d1), end: ymd(y2,mn2,d2) };\n    }\n  }\n\n  // 4) \"(с)? D по D MONTH (YYYY)?\" — same month\n  m = t.match(/(?:с\\s+)?(\\d{1,2})\\s*[-–—по]+\\s*(\\d{1,2})\\s+([а-яё]+)(?:\\s+(\\d{4}))?/);\n  if (m){\n    const d1=+m[1], d2=+m[2];\n    const mn=findMonth(m[3]);\n    if (mn){\n      const y = m[4]?+m[4]:chooseYear(mn);\n      return { start: ymd(y,mn,d1), end: ymd(y,mn,d2) };\n    }\n  }\n\n  // 5) Today/tomorrow shortcuts\n  if (/завтра/.test(t)) {\n    const tm  = new Date(today.getTime() + 86400000);\n    const tm2 = new Date(today.getTime() + 2*86400000);\n    return { start: ymd(tm.getUTCFullYear(),tm.getUTCMonth()+1,tm.getUTCDate()),\n             end:   ymd(tm2.getUTCFullYear(),tm2.getUTCMonth()+1,tm2.getUTCDate()) };\n  }\n  if (/сегодня/.test(t)) {\n    const tm2 = new Date(today.getTime()+86400000);\n    return { start: isoDate, end: ymd(tm2.getUTCFullYear(),tm2.getUTCMonth()+1,tm2.getUTCDate()) };\n  }\n  return null;\n}\n\nfunction overlap(aStart, aEnd, bStart, bEnd){\n  return aStart < bEnd && bStart < aEnd;\n}\n\nconst norm = $('Normalize Input').item.json;\nconst inputText = norm.input_text || '';\nconst range = parseDateRange(inputText);\n\nlet lines = [];\nlines.push('СЕГОДНЯ: ' + isoDate);\n\nif (apts.length > 0) {\n  lines.push('ОБЪЕКТЫ ДОМА (источник: PostgreSQL apartments, актуально):');\n  for (const a of apts) {\n    const desc = (a.description && String(a.description).trim()) ? ' ' + String(a.description).trim() : '';\n    lines.push('- ' + a.name + ': до ' + a.max_guests + ' гостей, ' + a.rooms + ' комн., базовая цена ' + a.base_price + ' ₽.' + desc);\n  }\n} else {\n  lines.push('ОБЪЕКТЫ ДОМА: справочник apartments сейчас недоступен.');\n}\n\nlines.push('');\nlines.push('ЗАНЯТОСТЬ (источник: PostgreSQL bookings, окно 90 дней от сегодня):');\nif (books.length > 0) {\n  for (const b of books) {\n    const aptId = String(b.apartment_id);\n    const label = aptName[aptId] || ('apt ' + aptId);\n    const ci = isoOnly(b.checkin_at);\n    const co = isoOnly(b.checkout_at);\n    const src = b.source ? ', source ' + b.source : '';\n    lines.push('- ' + label + ': ' + ci + ' → ' + co + ' (' + b.status + ')' + src);\n  }\n} else {\n  lines.push('Текущих броней в окне 90 дней в БД нет.');\n}\n\nlet datesParsed = false;\nlines.push('');\nif (range) {\n  datesParsed = true;\n  lines.push('ЗАПРОШЕННЫЙ ПЕРИОД:');\n  lines.push(range.start + ' → ' + range.end);\n  lines.push('');\n  lines.push('РАСЧЁТ ДОСТУПНОСТИ ПО БД (выполнен системой, не пересчитывать):');\n  const freeOnes = [];\n  for (const a of apts) {\n    const aptId = String(a.id);\n    const conflicts = books.filter(b => String(b.apartment_id) === aptId\n      && overlap(range.start, range.end, isoOnly(b.checkin_at), isoOnly(b.checkout_at)));\n    if (conflicts.length === 0) {\n      lines.push('- ' + a.name + ': СВОБОДЕН ПО ДАННЫМ БД, финальное подтверждение за владельцем.');\n      freeOnes.push(a.name);\n    } else {\n      const pieces = conflicts.map(b => isoOnly(b.checkin_at)+' → '+isoOnly(b.checkout_at)).join('; ');\n      lines.push('- ' + a.name + ': ЗАНЯТ. Пересечения: ' + pieces + '.');\n    }\n  }\n  lines.push('');\n  lines.push('СВОБОДНЫЕ ПО ДАННЫМ БД:');\n  lines.push(freeOnes.length ? freeOnes.join(', ') : 'нет');\n} else {\n  lines.push('РАСЧЁТ ДОСТУПНОСТИ ПО БД: даты не распознаны системой.');\n  lines.push('Действие: задать пользователю один уточняющий вопрос — попросить дату заезда, дату выезда и количество гостей. Не объявлять никакие номера свободными.');\n}\n\nlines.push('');\nlines.push('ВАЖНО:');\nlines.push('Расчёт доступности уже выполнен системой выше. Не пересчитывай даты самостоятельно.');\nlines.push(datesParsed\n  ? 'Используй только блок РАСЧЁТ ДОСТУПНОСТИ ПО БД. Если в нём номер помечен ЗАНЯТ — НЕЛЬЗЯ называть его свободным. Если \"СВОБОДНЫЕ ПО ДАННЫМ БД: нет\" — на запрошенный период свободных номеров нет, предложи посмотреть другие даты по ссылке Homereserve.'\n  : 'Поскольку даты не распознаны, тебе ЗАПРЕЩЕНО объявлять любые номера свободными или занятыми. Единственный допустимый ответ — уточняющий вопрос: попроси дату заезда, дату выезда и количество гостей.');\n\n\n// GAP WINDOWS block\nlines.push('');\nlines.push('МАЛЕНЬКИЕ ОКНА / GAP WINDOWS (1-3 ночи между бронями):');\nif (gapWindows.length === 0) {\n  lines.push('Маленьких окон в ближайшие 90 дней не найдено.');\n} else {\n  for (const g of gapWindows) {\n    const loss = g.estimated_loss ? ` (~${Number(g.estimated_loss).toLocaleString('ru')} ₽ потери)` : '';\n    lines.push(`- Номер ${g.apartment_id} (${g.apartment_name}): ${g.gap_start} — ${g.gap_end} (${g.nights} н.)${loss}`);\n    lines.push(`  Рекомендация: ${g.recommendation}`);\n  }\n}\n\nlines.push('');\nlines.push('ССЫЛКА ДЛЯ ПРОСМОТРА И БРОНИРОВАНИЯ:');\nlines.push('https://homereserve.ru/m66FXMW0XO/list-preview');\n\nconst context_text = lines.join('\\n');\nreturn [{ json: { context_text, input_text: norm.input_text, chat_id: norm.chat_id, is_voice: !!norm.is_voice, dates_parsed: datesParsed } }];"
      }
    },
    {
      "id": "load_book_1",
      "name": "Load Bookings Window",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        360
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT apartment_id,   to_char(checkin_at,'YYYY-MM-DD')  AS checkin_at,   to_char(checkout_at,'YYYY-MM-DD') AS checkout_at,   status, source, COALESCE(notes,'') AS notes FROM bookings WHERE checkout_at >= CURRENT_DATE   AND checkin_at  <= CURRENT_DATE + INTERVAL '90 days'   AND status IN ('confirmed','booking') ORDER BY apartment_id, checkin_at;",
        "options": {
          "queryBatching": "single"
        }
      },
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT gw.apartment_id, a.name AS apartment_name,\n       to_char(gw.gap_start,'YYYY-MM-DD') AS gap_start,\n       to_char(gw.gap_end,'YYYY-MM-DD')   AS gap_end,\n       gw.nights, gw.estimated_loss, gw.recommendation\nFROM gap_windows gw\nJOIN apartments a ON a.id = gw.apartment_id\nWHERE gw.status = 'open'\n  AND gw.gap_start >= CURRENT_DATE\nORDER BY gw.estimated_loss DESC NULLS LAST, gw.gap_start",
        "options": {}
      },
      "id": "load_gap_windows",
      "name": "Load Gap Windows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        640,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    }
  ],
  "connections": {
    "Is Voice?": {
      "main": [
        [
          {
            "node": "Whisper STT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper STT": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Load Apartments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TelegramTrigger": {
      "main": [
        [
          {
            "node": "Is Voice?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Polza AI": {
      "main": [
        [
          {
            "node": "Compose Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Apartments": {
      "main": [
        [
          {
            "node": "Load Bookings Window",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Gap Windows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "Polza AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Bookings Window": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Gap Windows": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "c9a5874f34e45e4d"
}