workflows/08_rc_webhooks.json
{
  "name": "08 — RC Webhooks Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "realtycalendar/webhook",
        "options": {}
      },
      "id": "w1",
      "name": "RC Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "realty_calendar_sync_hook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "delete_booking"
            }
          ]
        }
      },
      "id": "s1",
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "bookings",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "deleted"
          }
        },
        "where": {
          "values": [
            {
              "column": "rc_id",
              "value": "={{ $json.data.booking.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "db1",
      "name": "Update DataBase (Delete)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [500, 100],
      "credentials": {
        "postgres": {"id": "gelendzhik_db"}
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "value2": "create_booking"
            }
          ]
        }
      },
      "id": "s2",
      "name": "Is Create?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const b = $json.data.booking;\nreturn [{\n  json: {\n    rc_id:     String(b.id),\n    status:    b.status || 'booking',\n    apartment_id: String(b.apartment_id || b.rent_object_id || ''),\n    guest_name: b.guest_name || '',\n    checkin_date:  b.checkin  || b.date_from || '',\n    checkout_date: b.checkout || b.date_to   || '',\n    source:    b.source || 'direct',\n    price:     Number(b.price) || 0\n  }\n}];"
      },
      "id": "c1",
      "name": "Format Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "bookings",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {
          "conflictTarget": "rc_id",
          "updateColumns": ["status", "checkin_date", "checkout_date", "price"]
        }
      },
      "id": "db2",
      "name": "Save to Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {"id": "gelendzhik_db"}
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const b = $('Format Booking').item.json;\nreturn [{\n  json: {\n    ID:       b.rc_id,\n    Status:   b.status,\n    Apartment: b.apartment_id,\n    Guest:    b.guest_name,\n    CheckIn:  b.checkin_date,\n    CheckOut: b.checkout_date,\n    Source:   b.source,\n    Total:    b.price\n  }\n}];"
      },
      "id": "c2",
      "name": "Format for Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1naVBM9qEhZVLFY9bmTRKQtVwruv94vCO35QC4IBNsdA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "booking_pipeline",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "gs1",
      "name": "Append to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "googleApi": {
          "id": "google_service_account"
        }
      }
    }
  ],
  "connections": {
    "RC Webhook": {
      "main": [[{"node": "Is Delete?", "type": "main", "index": 0}]]
    },
    "Is Delete?": {
      "main": [
        [{"node": "Update DataBase (Delete)", "type": "main", "index": 0}],
        [{"node": "Is Create?", "type": "main", "index": 0}]
      ]
    },
    "Is Create?": {
      "main": [
        [{"node": "Format Booking", "type": "main", "index": 0}],
        []
      ]
    },
    "Format Booking": {
      "main": [[{"node": "Save to Postgres", "type": "main", "index": 0}]]
    },
    "Save to Postgres": {
      "main": [[{"node": "Format for Sheets", "type": "main", "index": 0}]]
    },
    "Format for Sheets": {
      "main": [[{"node": "Append to Google Sheets", "type": "main", "index": 0}]]
    }
  },
  "id": "31f66ba2b251b54c"
}
