workflows/10_admin_api.json
{
  "id": "82575887-be9e-4267-8e8e-2d760de2a986",
  "name": "10 — Admin API",
  "nodes": [
    {
      "id": "wh01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "adminapi1234/admin",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "adminapi1234"
    },
    {
      "id": "pg01",
      "name": "Load Admin Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        220,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "gelendzhik_db"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM system_vars WHERE key='admin_api_token' LIMIT 1;",
        "options": {}
      }
    },
    {
      "id": "code01",
      "name": "Validate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "parameters": {
        "jsCode": "const incoming = $('Webhook').first().json;\nconst headers = incoming.headers || {};\nconst body = incoming.body || {};\n\nconst incomingToken = (headers['x-admin-token'] || '').trim();\nconst storedToken = ($('Load Admin Token').first().json.value || '').trim();\nconst action = (body.action || '').trim();\n\nif (!incomingToken || incomingToken !== storedToken) {\n  return [{ json: { authorized: false, statusCode: 401, error: 'unauthorized', action: '' } }];\n}\n\nconst allowed = ['health', 'bookings', 'templates'];\nif (!allowed.includes(action)) {\n  return [{ json: { authorized: true, statusCode: 400, error: 'unknown_action', action } }];\n}\n\nreturn [{ json: { authorized: true, statusCode: 200, error: '', action } }];"
      }
    },
    {
      "id": "if01",
      "name": "If Authorized",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.authorized }}"
            }
          ]
        }
      }
    },
    {
      "id": "resp401",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        100
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"error\":\"unauthorized\"}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "if02",
      "name": "If Health",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        350
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c2",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "health"
            }
          ]
        }
      }
    },
    {
      "id": "if03",
      "name": "If Bookings",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        520
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c3",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "bookings"
            }
          ]
        }
      }
    },
    {
      "id": "pg02",
      "name": "Health Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "gelendzhik_db"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT COUNT(*) FROM bookings) AS bookings_count, (SELECT COUNT(*) FROM bookings WHERE source='realtycalendar-ical') AS rc_bookings_count, (SELECT MAX(updated_at) FROM bookings WHERE source='realtycalendar-ical') AS latest_rc_sync, (SELECT COUNT(*) FROM message_templates) AS templates_count, (SELECT COUNT(*) FROM bookings WHERE guest_chat_id IS NOT NULL) AS guest_connected_count;",
        "options": {}
      }
    },
    {
      "id": "pg03",
      "name": "Bookings Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        420
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "gelendzhik_db"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, apartment_id, apartment_name, checkin_at::text, checkout_at::text, nights, source, status, COALESCE(guest_name,'') AS guest_name, COALESCE(guest_username,'') AS guest_username, (guest_chat_id IS NOT NULL) AS guest_connected, journey_sent, 'https://t.me/GuestGelen_bot?start='||id AS deep_link, updated_at FROM bookings ORDER BY checkin_at ASC, apartment_id ASC;",
        "options": {}
      }
    },
    {
      "id": "pg04",
      "name": "Templates Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        590
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "gelendzhik_db"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, channel, lang, body, active, updated_at FROM message_templates ORDER BY channel, key;",
        "options": {}
      }
    },
    {
      "id": "resp400",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        720
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"error\":\"unknown_action\"}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "resp-health",
      "name": "Respond Health",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        250
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, action: 'health', data: { workflows_expected_active: ['01','02','03','09','10'], bookings_count: parseInt($json.bookings_count), rc_bookings_count: parseInt($json.rc_bookings_count), latest_rc_sync: $json.latest_rc_sync, templates_count: parseInt($json.templates_count), guest_connected_count: parseInt($json.guest_connected_count) } }) }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "code02",
      "name": "Format Bookings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        420
      ],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { _body: JSON.stringify({ ok: true, action: 'bookings', count: rows.length, data: rows }) } }];"
      }
    },
    {
      "id": "resp-bookings",
      "name": "Respond Bookings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        420
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._body }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "code03",
      "name": "Format Templates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        590
      ],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { _body: JSON.stringify({ ok: true, action: 'templates', count: rows.length, data: rows }) } }];"
      }
    },
    {
      "id": "resp-templates",
      "name": "Respond Templates",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        590
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json._body }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "if04",
      "name": "If Templates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        650
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c4",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "templates"
            }
          ]
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "crev",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "revenue"
            }
          ]
        }
      },
      "id": "if_revenue",
      "name": "If Revenue",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH gap_data AS (\n  SELECT\n    COUNT(*) AS total_gaps,\n    COALESCE(SUM(estimated_loss), 0) AS total_estimated_loss,\n    COUNT(*) FILTER (WHERE nights = 1) AS one_night_gaps,\n    COUNT(*) FILTER (WHERE nights = 2) AS two_night_gaps,\n    COUNT(*) FILTER (WHERE nights = 3) AS three_night_gaps\n  FROM gap_windows\n  WHERE status = 'open'\n),\ncomp_prices AS (\n  SELECT\n    COUNT(*) AS competitor_count,\n    MIN(price_per_night) AS market_min,\n    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY price_per_night) AS market_median,\n    AVG(price_per_night) AS market_avg,\n    MAX(price_per_night) AS market_max\n  FROM competitor_prices\n  WHERE date_from <= NOW() AND date_to >= NOW()\n),\ncomp_sources AS (\n  SELECT\n    COUNT(*) AS competitor_sources_count,\n    COUNT(*) FILTER (WHERE status = 'active') AS active_competitors_count,\n    COUNT(*) FILTER (WHERE status = 'excluded') AS excluded_competitors_count,\n    MIN(cpo.price_per_night) FILTER (WHERE cs.status='active' AND cs.similarity_score>=80) AS cs_market_min,\n    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY cpo.price_per_night) FILTER (WHERE cs.status='active' AND cs.similarity_score>=80) AS cs_market_median,\n    AVG(cpo.price_per_night) FILTER (WHERE cs.status='active' AND cs.similarity_score>=80) AS cs_market_avg,\n    MAX(cpo.price_per_night) FILTER (WHERE cs.status='active' AND cs.similarity_score>=80) AS cs_market_max\n  FROM competitor_sources cs\n  LEFT JOIN competitor_price_observations cpo ON cpo.competitor_source_id = cs.id\n),\nrec_data AS (\n  SELECT COUNT(*) AS recommendations_count\n  FROM pricing_recommendations\n  WHERE status IN ('draft', 'approved')\n),\ngap_json AS (\n  SELECT json_agg(row_to_json(g)) AS gap_windows\n  FROM (\n    SELECT apartment_id, gap_start, gap_end, nights, estimated_loss, recommendation, status\n    FROM gap_windows WHERE status = 'open' ORDER BY gap_start, apartment_id\n  ) g\n),\ncp_json AS (\n  SELECT json_agg(row_to_json(c)) AS competitor_prices\n  FROM (\n    SELECT source, title, url, location, date_from, date_to, price_per_night, notes\n    FROM competitor_prices ORDER BY collected_at DESC LIMIT 20\n  ) c\n),\nobs_json AS (\n  SELECT json_agg(row_to_json(o)) AS latest_observations\n  FROM (\n    SELECT cs.name AS competitor_name, cs.similarity_score,\n           cpo.stay_date_from, cpo.stay_date_to, cpo.price_per_night,\n           cpo.confidence, cpo.collection_method, cpo.observed_at\n    FROM competitor_price_observations cpo\n    JOIN competitor_sources cs ON cs.id = cpo.competitor_source_id\n    ORDER BY cpo.observed_at DESC LIMIT 10\n  ) o\n)\nSELECT\n  gd.total_gaps, gd.total_estimated_loss,\n  gd.one_night_gaps, gd.two_night_gaps, gd.three_night_gaps,\n  cp.competitor_count, cp.market_min, cp.market_median, cp.market_avg, cp.market_max,\n  cs2.competitor_sources_count, cs2.active_competitors_count, cs2.excluded_competitors_count,\n  cs2.cs_market_min, cs2.cs_market_median, cs2.cs_market_avg, cs2.cs_market_max,\n  rd.recommendations_count,\n  gj.gap_windows, cpj.competitor_prices, oj.latest_observations\nFROM gap_data gd, comp_prices cp, comp_sources cs2, rec_data rd,\n     gap_json gj, cp_json cpj, obs_json oj",
        "options": {}
      },
      "id": "revenue_query",
      "name": "Revenue Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        750
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond_revenue",
      "name": "Respond Revenue",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1330,
        750
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_addcomp",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "revenue_add_competitor_price"
            }
          ]
        }
      },
      "id": "if_add_competitor",
      "name": "If Add Competitor",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        950
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = ($('Webhook').first().json.body) || $input.first().json || {};\nreturn [{ json: {\n  cp_source:        String(j.source        || ''),\n  cp_title:         String(j.title         || ''),\n  cp_url:           String(j.url           || ''),\n  cp_location:      String(j.location      || ''),\n  cp_max_guests:    j.max_guests    ? String(Number(j.max_guests))    : '',\n  cp_rooms:         j.rooms         ? String(Number(j.rooms))         : '',\n  cp_date_from:     String(j.date_from     || ''),\n  cp_date_to:       String(j.date_to       || ''),\n  cp_price:         String(Number(j.price_per_night) || 0),\n  cp_rating:        j.rating        ? String(Number(j.rating))        : '',\n  cp_reviews_count: j.reviews_count ? String(Number(j.reviews_count)) : '',\n  cp_notes:         String(j.notes         || '')\n} }];\n"
      },
      "id": "prep_competitor",
      "name": "Prep Competitor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        900
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"ok\":true,\"action\":\"revenue_add_competitor_price\",\"message\":\"competitor price added\"}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond_add_competitor",
      "name": "Respond Add Competitor",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1320,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c_pricrec",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.action }}",
              "rightValue": "pricing_recommendations"
            }
          ]
        }
      },
      "id": "if_pricing_recs",
      "name": "If Pricing Recs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT apartment_id, a.name AS apartment_name,\n       to_char(pr.date_from,'YYYY-MM-DD') AS date_from,\n       to_char(pr.date_to,'YYYY-MM-DD')   AS date_to,\n       pr.nights, pr.current_price::float, pr.market_min::float,\n       pr.market_median::float, pr.market_avg::float, pr.market_max::float,\n       pr.recommended_price::float, pr.recommendation_type,\n       pr.reason, pr.confidence::float, pr.source, pr.status,\n       to_char(pr.created_at,'YYYY-MM-DD') AS created_at\nFROM pricing_recommendations pr\nJOIN apartments a ON a.id = pr.apartment_id\nWHERE pr.status IN ('draft','approved') AND pr.date_from >= CURRENT_DATE\nORDER BY pr.date_from, pr.apartment_id",
        "options": {}
      },
      "id": "pricing_recs_query",
      "name": "Pricing Recs Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        1050
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: { ok: true, action: 'pricing_recommendations', data: rows, count: rows.length } }];"
      },
      "id": "format_pricing_recs",
      "name": "Format Pricing Recs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1050
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond_pricing_recs",
      "name": "Respond Pricing Recs",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        1050
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\n// Market stats from competitor_sources + observations\nconst mMin = r.cs_market_min ? parseFloat(r.cs_market_min) : (r.market_min ? parseFloat(r.market_min) : null);\nconst mMed = r.cs_market_median ? parseFloat(r.cs_market_median) : (r.market_median ? parseFloat(r.market_median) : null);\nconst mAvg = r.cs_market_avg ? parseFloat(r.cs_market_avg) : (r.market_avg ? parseFloat(r.market_avg) : null);\nconst mMax = r.cs_market_max ? parseFloat(r.cs_market_max) : (r.market_max ? parseFloat(r.market_max) : null);\n\nreturn [{ json: {\n  ok: true,\n  action: 'revenue',\n  summary: {\n    total_gaps: parseInt(r.total_gaps) || 0,\n    total_estimated_loss: parseFloat(r.total_estimated_loss) || 0,\n    one_night_gaps: parseInt(r.one_night_gaps) || 0,\n    two_night_gaps: parseInt(r.two_night_gaps) || 0,\n    three_night_gaps: parseInt(r.three_night_gaps) || 0,\n    competitor_count: parseInt(r.competitor_count) || 0,\n    competitor_sources_count: parseInt(r.competitor_sources_count) || 0,\n    active_competitors_count: parseInt(r.active_competitors_count) || 0,\n    excluded_competitors_count: parseInt(r.excluded_competitors_count) || 0,\n    market_min: mMin,\n    market_median: mMed,\n    market_avg: mAvg,\n    market_max: mMax,\n    latest_market_median_from_sources: mMed,\n    latest_market_avg_from_sources: mAvg,\n    latest_market_min_from_sources: mMin,\n    latest_market_max_from_sources: mMax,\n    recommendations_count: parseInt(r.recommendations_count) || 0\n  },\n  gap_windows: r.gap_windows ? (typeof r.gap_windows === 'string' ? JSON.parse(r.gap_windows) : r.gap_windows) : [],\n  competitor_prices: r.competitor_prices ? (typeof r.competitor_prices === 'string' ? JSON.parse(r.competitor_prices) : r.competitor_prices) : [],\n  latest_observations: r.latest_observations ? (typeof r.latest_observations === 'string' ? JSON.parse(r.latest_observations) : r.latest_observations) : []\n}}];"
      },
      "id": "format_revenue_c1",
      "name": "Format Revenue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        750
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nreturn [{ json: { ok: true, action: 'revenue_add_competitor_price', id: row.id || null, message: 'competitor price added' } }];"
      },
      "id": "format_add_comp",
      "name": "Format Add Competitor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        880
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO competitor_prices\n  (source, title, url, location, max_guests, rooms,\n   date_from, date_to, price_per_night, rating, reviews_count, notes)\nVALUES (\n  '{{ $json.cp_source }}',\n  '{{ $json.cp_title }}',\n  NULLIF('{{ $json.cp_url }}',''),\n  NULLIF('{{ $json.cp_location }}',''),\n  NULLIF('{{ $json.cp_max_guests }}','')::integer,\n  NULLIF('{{ $json.cp_rooms }}','')::integer,\n  '{{ $json.cp_date_from }}'::date,\n  '{{ $json.cp_date_to }}'::date,\n  {{ $json.cp_price }}::numeric,\n  NULLIF('{{ $json.cp_rating }}','')::numeric,\n  NULLIF('{{ $json.cp_reviews_count }}','')::integer,\n  NULLIF('{{ $json.cp_notes }}','')\n) RETURNING id::text AS id, source, title, price_per_night::float",
        "options": {}
      },
      "id": "comp_db_insert",
      "name": "Competitor DB Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1300,
        900
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cs_action_check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "competitor_sources",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-competitor-sources-c15",
      "name": "If Competitor Sources",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        1250
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cs.id, cs.name, cs.source_platform, cs.url, cs.address, cs.district,\n  cs.similarity_score, cs.priority, cs.status, cs.property_type,\n  cs.area_m2, cs.max_guests, cs.rooms,\n  cs.distance_to_beach_m, cs.distance_to_center_m,\n  cs.has_private_entrance, cs.has_private_kitchen, cs.has_balcony_or_terrace,\n  cs.amenities, cs.min_stay, cs.target_audience,\n  cs.price_low, cs.price_high,\n  cs.selection_reason, cs.exclusion_reason,\n  cs.last_checked_at,\n  cs.created_at, cs.updated_at,\n  (SELECT MAX(cpo.observed_at) FROM competitor_price_observations cpo WHERE cpo.competitor_source_id = cs.id) AS last_observed_at,\n  (SELECT cpo.price_per_night FROM competitor_price_observations cpo WHERE cpo.competitor_source_id = cs.id ORDER BY cpo.observed_at DESC LIMIT 1) AS latest_price\nFROM competitor_sources cs\nORDER BY cs.status, cs.priority",
        "additionalFields": {}
      },
      "id": "pg-competitor-sources-c15",
      "name": "Competitor Sources Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1100,
        1200
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: {\n  ok: true,\n  action: 'competitor_sources',\n  competitor_sources: rows,\n  summary: {\n    total: rows.length,\n    active: rows.filter(r=>r.status==='active').length,\n    excluded: rows.filter(r=>r.status==='excluded').length\n  }\n}}];"
      },
      "id": "code-format-cs-c15",
      "name": "Format Competitor Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "resp-cs-c15",
      "name": "Respond Competitor Sources",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        1200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cpo_action_check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "competitor_price_observations",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-competitor-obs-c15",
      "name": "If Competitor Observations",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        1380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  cpo.id, cs.name AS competitor_name, cs.similarity_score,\n  cs.source_platform, cs.url AS competitor_url,\n  cpo.observed_at, cpo.stay_date_from, cpo.stay_date_to, cpo.nights,\n  cpo.price_per_night, cpo.total_price, cpo.min_stay,\n  cpo.availability_status, cpo.confidence,\n  cpo.collection_method, cpo.notes,\n  cpo.created_at\nFROM competitor_price_observations cpo\nJOIN competitor_sources cs ON cs.id = cpo.competitor_source_id\nORDER BY cpo.observed_at DESC\nLIMIT 50",
        "additionalFields": {}
      },
      "id": "pg-competitor-obs-c15",
      "name": "Competitor Observations Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1100,
        1330
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nreturn [{ json: {\n  ok: true,\n  action: 'competitor_price_observations',\n  observations: rows,\n  count: rows.length\n}}];"
      },
      "id": "code-format-obs-c15",
      "name": "Format Competitor Observations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1330
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "resp-obs-c15",
      "name": "Respond Competitor Observations",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        1330
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ms_action_check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "competitor_market_summary",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-market-summary-c15",
      "name": "If Market Summary",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        1510
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH active_obs AS (\n  SELECT cpo.price_per_night, cs.similarity_score,\n         cpo.observed_at,\n         (NOW() - cpo.observed_at) > INTERVAL '14 days' AS is_stale\n  FROM competitor_price_observations cpo\n  JOIN competitor_sources cs ON cs.id = cpo.competitor_source_id\n  WHERE cs.status = 'active' AND cs.similarity_score >= 80\n),\nfresh AS (SELECT * FROM active_obs WHERE NOT is_stale),\nall_obs AS (SELECT * FROM active_obs)\nSELECT\n  (SELECT COUNT(DISTINCT cs.id) FROM competitor_sources cs WHERE cs.status='active') AS active_sources,\n  (SELECT COUNT(DISTINCT cs.id) FROM competitor_sources cs WHERE cs.status='excluded') AS excluded_sources,\n  (SELECT MIN(price_per_night) FROM all_obs) AS market_min,\n  (SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY price_per_night) FROM all_obs) AS market_median,\n  (SELECT AVG(price_per_night) FROM all_obs) AS market_avg,\n  (SELECT MAX(price_per_night) FROM all_obs) AS market_max,\n  (SELECT COUNT(*) FROM all_obs) AS total_observations,\n  (SELECT COUNT(*) FROM fresh) AS fresh_observations_14d,\n  (SELECT MAX(observed_at) FROM all_obs) AS latest_observed_at,\n  (SELECT json_agg(row_to_json(cs)) FROM (\n    SELECT cs.name, cs.similarity_score, cs.status, cs.price_low, cs.price_high,\n           (SELECT cpo.price_per_night FROM competitor_price_observations cpo WHERE cpo.competitor_source_id=cs.id ORDER BY cpo.observed_at DESC LIMIT 1) AS latest_price,\n           (SELECT MAX(cpo.observed_at) FROM competitor_price_observations cpo WHERE cpo.competitor_source_id=cs.id) AS last_observed\n    FROM competitor_sources cs WHERE cs.status='active' ORDER BY cs.priority\n  ) cs) AS competitor_details",
        "additionalFields": {}
      },
      "id": "pg-market-summary-c15",
      "name": "Market Summary Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1100,
        1460
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst staleWarning = (r.fresh_observations_14d === 0)\n  ? 'Все данные seed/устаревшие (> 14 дней). Рекомендуется ручная проверка цен конкурентов.'\n  : null;\nreturn [{ json: {\n  ok: true,\n  action: 'competitor_market_summary',\n  market: {\n    active_sources: r.active_sources,\n    excluded_sources: r.excluded_sources,\n    market_min: r.market_min ? parseFloat(r.market_min) : null,\n    market_median: r.market_median ? parseFloat(r.market_median) : null,\n    market_avg: r.market_avg ? parseFloat(r.market_avg) : null,\n    market_max: r.market_max ? parseFloat(r.market_max) : null,\n    total_observations: r.total_observations,\n    fresh_observations_14d: r.fresh_observations_14d,\n    latest_observed_at: r.latest_observed_at,\n    stale_warning: staleWarning,\n    competitor_details: r.competitor_details\n  }\n}}];"
      },
      "id": "code-format-ms-c15",
      "name": "Format Market Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        1460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "resp-ms-c15",
      "name": "Respond Market Summary",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        1460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cum_action_check",
              "leftValue": "={{ $json.action }}",
              "rightValue": "competitor_source_update_manual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-competitor-update-c15",
      "name": "If Competitor Update Manual",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        1640
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = ($('Webhook').first().json.body) || $input.first().json || {};\nconst id = body.competitor_source_id || body.id || null;\nconst price_per_night = body.price_per_night ? parseFloat(body.price_per_night) : null;\nconst stay_date_from = body.stay_date_from || body.date_from || null;\nconst stay_date_to = body.stay_date_to || body.date_to || null;\nconst notes = body.notes || 'manual_input via Admin API';\nconst confidence = body.confidence ? parseFloat(body.confidence) : 0.90;\n\nif (!id || !price_per_night || !stay_date_from || !stay_date_to) {\n  throw new Error('Missing required fields: competitor_source_id, price_per_night, stay_date_from, stay_date_to');\n}\n\nconst nights = Math.round((new Date(stay_date_to) - new Date(stay_date_from)) / 86400000);\n\nreturn [{json: {\n  q_id: id,\n  q_price: price_per_night,\n  q_from: stay_date_from,\n  q_to: stay_date_to,\n  q_nights: nights,\n  q_confidence: confidence,\n  q_notes: notes\n}}];"
      },
      "id": "code-prep-update-c15",
      "name": "Prep Competitor Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        1590
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO competitor_price_observations\n  (competitor_source_id, stay_date_from, stay_date_to, nights, price_per_night,\n   confidence, collection_method, notes)\nVALUES\n  ('{{ $json.q_id }}', '{{ $json.q_from }}', '{{ $json.q_to }}', {{ $json.q_nights }},\n   {{ $json.q_price }}, {{ $json.q_confidence }}, 'manual_input', '{{ $json.q_notes }}');\nUPDATE competitor_sources SET last_checked_at = NOW(), updated_at = NOW()\nWHERE id = '{{ $json.q_id }}';",
        "additionalFields": {}
      },
      "id": "pg-competitor-update-c15",
      "name": "Competitor Update Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1300,
        1590
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true,\"action\":\"competitor_source_update_manual\",\"message\":\"observation added\"}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "resp-update-c15",
      "name": "Respond Competitor Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1500,
        1590
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load Admin Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Admin Token": {
      "main": [
        [
          {
            "node": "Validate Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [
          {
            "node": "If Authorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Authorized": {
      "main": [
        [
          {
            "node": "If Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Health": {
      "main": [
        [
          {
            "node": "Health Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Bookings": {
      "main": [
        [
          {
            "node": "Bookings Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Query": {
      "main": [
        [
          {
            "node": "Respond Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bookings Query": {
      "main": [
        [
          {
            "node": "Format Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Bookings": {
      "main": [
        [
          {
            "node": "Respond Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Templates Query": {
      "main": [
        [
          {
            "node": "Format Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Templates": {
      "main": [
        [
          {
            "node": "Respond Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Templates": {
      "main": [
        [
          {
            "node": "Templates Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Revenue": {
      "main": [
        [
          {
            "node": "Revenue Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Add Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revenue Query": {
      "main": [
        [
          {
            "node": "Format Revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Add Competitor": {
      "main": [
        [
          {
            "node": "Prep Competitor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Pricing Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Pricing Recs": {
      "main": [
        [
          {
            "node": "Pricing Recs Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Competitor Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Recs Query": {
      "main": [
        [
          {
            "node": "Format Pricing Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pricing Recs": {
      "main": [
        [
          {
            "node": "Respond Pricing Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Revenue": {
      "main": [
        [
          {
            "node": "Respond Revenue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Add Competitor": {
      "main": [
        [
          {
            "node": "Respond Add Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Competitor": {
      "main": [
        [
          {
            "node": "Competitor DB Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor DB Insert": {
      "main": [
        [
          {
            "node": "Format Add Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Competitor Sources": {
      "main": [
        [
          {
            "node": "Competitor Sources Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Competitor Observations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Sources Query": {
      "main": [
        [
          {
            "node": "Format Competitor Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Competitor Sources": {
      "main": [
        [
          {
            "node": "Respond Competitor Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Competitor Observations": {
      "main": [
        [
          {
            "node": "Competitor Observations Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Market Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Observations Query": {
      "main": [
        [
          {
            "node": "Format Competitor Observations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Competitor Observations": {
      "main": [
        [
          {
            "node": "Respond Competitor Observations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Market Summary": {
      "main": [
        [
          {
            "node": "Market Summary Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Competitor Update Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Summary Query": {
      "main": [
        [
          {
            "node": "Format Market Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Market Summary": {
      "main": [
        [
          {
            "node": "Respond Market Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Competitor Update Manual": {
      "main": [
        [
          {
            "node": "Prep Competitor Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Competitor Update": {
      "main": [
        [
          {
            "node": "Competitor Update Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Competitor Update Insert": {
      "main": [
        [
          {
            "node": "Respond Competitor Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "versionId": "a1-admin-api-v2"
}