workflows/12_pricing_recommender.json
{
  "id": "12-pricing-recommender-c1",
  "name": "12 — Pricing Recommender (C1)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger-12",
      "name": "Daily 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT gw.id AS gap_id, gw.apartment_id, a.name AS apartment_name,\n       a.base_price,\n       gw.gap_start AS date_from,\n       gw.gap_end   AS date_to,\n       gw.nights,\n       gw.estimated_loss\nFROM gap_windows gw\nJOIN apartments a ON a.id = gw.apartment_id\nWHERE gw.status = 'open'\n  AND gw.gap_start >= CURRENT_DATE\nORDER BY gw.gap_start",
        "options": {}
      },
      "id": "load-gaps-12",
      "name": "Load Gap Windows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nSELECT\n  AVG(price_per_night) AS bg_avg,\n  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY price_per_night) AS bg_median,\n  COUNT(*) AS bg_count\nFROM competitor_prices\nWHERE date_from <= CURRENT_DATE + INTERVAL '90 days'\n  AND date_to >= CURRENT_DATE\n",
        "options": {}
      },
      "id": "load-market-12",
      "name": "Load Market Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// ── Inputs ─────────────────────────────────────────────────────────────────\nconst gaps        = $('Load Gap Windows').all().map(i => i.json);\nconst bgRows      = $('Load Market Data').all().map(i => i.json);\nconst cohortRows  = $('Load Competitor Sources').all().map(i => i.json);\n\n// ── Build per-cohort market data ─────────────────────────────────────────\nconst cohortData = {};\nfor (const row of cohortRows) {\n  cohortData[row.cohort_code] = {\n    median:       row.market_median    ? parseFloat(row.market_median)    : null,\n    weightedAvg:  row.weighted_avg     ? parseFloat(row.weighted_avg)     : null,\n    min:          row.market_min       ? parseFloat(row.market_min)       : null,\n    max:          row.market_max       ? parseFloat(row.market_max)       : null,\n    freshCount:   row.fresh_count      ? parseInt(row.fresh_count)        : 0,\n    sourceCount:  row.source_count     ? parseInt(row.source_count)       : 0,\n    hasStale:     row.has_stale_data   === true,\n    sources:      row.source_details   || []\n  };\n}\n\n// ── Background market ────────────────────────────────────────────────────\nconst bg = bgRows[0] || {};\nconst bgMedian = bg.bg_median ? parseFloat(bg.bg_median) : null;\n\n// ── Cohort assignment by apartment ──────────────────────────────────────\nconst APARTMENT_COHORTS = {\n  40: ['standard_family_2room'],\n  41: ['standard_family_2room'],\n  42: ['standard_family_2room'],\n  50: ['large_family_house_territory']\n};\nconst APT_50_MIN_SOURCES = 3;\n\n// ── Helper: get market stats for apartment ────────────────────────────────\nfunction getMarketForApt(aptId) {\n  const cohorts = APARTMENT_COHORTS[aptId] || ['standard_family_2room'];\n  for (const code of cohorts) {\n    const cd = cohortData[code];\n    if (cd && (cd.median || cd.weightedAvg) && cd.sourceCount > 0) {\n      return { ...cd, cohort_code: code, from_background: false };\n    }\n  }\n  // fallback: background market\n  return {\n    median:      bgMedian,\n    weightedAvg: bgMedian,\n    min:         null,\n    max:         null,\n    freshCount:  0,\n    sourceCount: 0,\n    hasStale:    true,\n    sources:     [],\n    cohort_code: 'gelendzhik_background_market',\n    from_background: true\n  };\n}\n\n// ── Base prices from gap data ────────────────────────────────────────────\nconst aptPrices = {};\nfor (const g of gaps) {\n  if (g.estimated_loss && g.nights && !aptPrices[g.apartment_id]) {\n    aptPrices[g.apartment_id] = Math.round(g.estimated_loss / g.nights);\n  }\n}\n\nconst recs = [];\n\nfor (const gap of gaps) {\n  if (gap.status !== 'open') continue;\n  const nights = parseInt(gap.nights);\n  if (nights < 1 || nights > 3) continue;\n\n  const aptId      = parseInt(gap.apartment_id);\n  const base_price = aptPrices[aptId] || (gap.base_price ? parseFloat(gap.base_price) : 6000);\n  const market     = getMarketForApt(aptId);\n  const hasMarket  = market.median !== null;\n  const isApt50    = aptId === 50;\n\n  // ── Confidence ──────────────────────────────────────────────────────\n  let confidence;\n\n  if (isApt50) {\n    const largeSources = market.cohort_code === 'large_family_house_territory'\n      ? market.sourceCount : 0;\n    if (largeSources < APT_50_MIN_SOURCES) {\n      confidence = 0.40;\n    } else if (market.freshCount >= 2) {\n      confidence = 0.72;\n    } else {\n      confidence = 0.55;\n    }\n  } else if (!hasMarket || market.from_background) {\n    confidence = 0.35;\n  } else if (market.freshCount === 0) {\n    confidence = market.hasStale ? 0.42 : 0.45;\n  } else if (market.freshCount >= 3) {\n    confidence = 0.78;\n  } else if (market.freshCount >= 2) {\n    confidence = 0.72;\n  } else {\n    confidence = 0.60;\n  }\n\n  // Apply static-price penalty at confidence level\n  if (market.hasStale && market.freshCount === 0) {\n    confidence = Math.min(confidence, 0.50);\n  }\n  if (market.from_background) {\n    confidence = Math.min(confidence, 0.38);\n  }\n\n  // ── Market reference ─────────────────────────────────────────────────\n  const market_median  = market.median || market.weightedAvg || null;\n  const market_min     = market.min;\n  const market_max     = market.max;\n  const market_avg     = market.weightedAvg || market.median || null;\n\n  // ── Recommended price ────────────────────────────────────────────────\n  let recommended_price;\n  let recommendation_type;\n\n  if (!hasMarket || market.from_background) {\n    recommended_price    = Math.round(base_price * 0.92);\n    recommendation_type  = 'discount_no_market';\n  } else {\n    const ref_price  = market_median || base_price;\n    const gap_factor = nights === 1 ? 0.90 : nights === 2 ? 0.93 : 0.95;\n    recommended_price   = Math.round(ref_price * gap_factor);\n    recommendation_type = nights === 1 ? 'gap_fill_aggressive'\n                        : nights === 2 ? 'gap_fill_moderate'\n                        : 'gap_fill_soft';\n  }\n\n  // ── Reason string ────────────────────────────────────────────────────\n  const cohortLabel = {\n    standard_family_2room:        'кластер стандарт 4–5 гостей',\n    large_family_house_territory: 'кластер крупные объекты 6–8 гостей',\n    gelendzhik_background_market: 'фоновый рынок'\n  }[market.cohort_code] || market.cohort_code;\n\n  const activeNames = (market.sources || [])\n    .filter(s => s.final_weight > 0.2)\n    .map(s => s.name.replace('Двухкомнатная квартира ', '').replace('Этаж под ключ ', 'Этаж '))\n    .slice(0, 3)\n    .join(', ');\n\n  let reason = '';\n  if (isApt50) {\n    const largeSources = market.cohort_code === 'large_family_house_territory'\n      ? market.sourceCount : 0;\n    if (largeSources < APT_50_MIN_SOURCES) {\n      reason = `Для объекта №50 недостаточно прямых конкурентов крупного формата (есть ${largeSources} из мин. ${APT_50_MIN_SOURCES}); рекомендация предварительная.`;\n    } else {\n      reason = `Объект №50, ${cohortLabel}. Рыночная медиана: ${Math.round(market_median)} ₽. Источников: ${market.sourceCount} (свежих: ${market.freshCount}).`;\n    }\n  } else if (market.from_background) {\n    reason = `Недостаточно данных по ${cohortLabel}. Скидка от базовой цены. Добавьте конкурентов для повышения точности.`;\n  } else {\n    const staleNote = market.hasStale && market.freshCount === 0\n      ? ' Данные устарели, требуют обновления.' : '';\n    reason = `Окно ${nights} н. (${gap.date_from}–${gap.date_to}). Рынок ${cohortLabel}: медиана ${Math.round(market_median)} ₽.`\n      + (activeNames ? ` Конкуренты: ${activeNames}.` : '')\n      + staleNote;\n  }\n\n  recs.push({\n    json: {\n      apartment_id:       gap.apartment_id,\n      date_from:          gap.date_from,\n      date_to:            gap.date_to,\n      nights,\n      current_price:      base_price,\n      market_min:         market_min ? Math.round(market_min) : null,\n      market_median:      market_median ? Math.round(market_median) : null,\n      market_avg:         market_avg ? Math.round(market_avg) : null,\n      market_max:         market_max ? Math.round(market_max) : null,\n      recommended_price,\n      recommendation_type,\n      reason,\n      confidence:         Math.round(confidence * 100) / 100,\n      source:             `cohort:${market.cohort_code}`\n    }\n  });\n}\n\nreturn recs;\n"
      },
      "id": "calc-recommendations",
      "name": "Calculate Recommendations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-recs",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.apartment_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "has-recs-check",
      "name": "Has Recommendations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        380
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pricing_recommendations\n  (apartment_id, date_from, date_to, nights, current_price, market_min, market_median,\n   market_avg, market_max, recommended_price, recommendation_type, reason, confidence, source, status)\nVALUES ($1, $2::date, $3::date, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, 'draft')\nON CONFLICT (apartment_id, date_from)\nDO UPDATE SET\n  date_to              = EXCLUDED.date_to,\n  nights               = EXCLUDED.nights,\n  current_price        = EXCLUDED.current_price,\n  market_min           = EXCLUDED.market_min,\n  market_median        = EXCLUDED.market_median,\n  market_avg           = EXCLUDED.market_avg,\n  market_max           = EXCLUDED.market_max,\n  recommended_price    = EXCLUDED.recommended_price,\n  recommendation_type  = EXCLUDED.recommendation_type,\n  reason               = EXCLUDED.reason,\n  confidence           = EXCLUDED.confidence,\n  updated_at           = NOW()\nWHERE pricing_recommendations.status = 'draft'\nRETURNING apartment_id, date_from, recommended_price, recommendation_type, confidence",
        "additionalFields": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.apartment_id, $json.date_from, $json.date_to, $json.nights, $json.current_price, $json.market_min, $json.market_median, $json.market_avg, $json.market_max, $json.recommended_price, $json.recommendation_type, $json.reason, $json.confidence, $json.source] }}"
        },
        "options": {}
      },
      "id": "upsert-recs",
      "name": "Upsert Recommendations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM pricing_recommendations WHERE status='draft' AND date_from < CURRENT_DATE",
        "options": {}
      },
      "id": "cleanup-old-recs",
      "name": "Cleanup Old Recs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nWITH cohort_sources AS (\n  SELECT\n    cs.id,\n    cs.name,\n    cs.similarity_score,\n    cs.signal_quality_score,\n    cs.status,\n    cs.is_static_price,\n    cs.cohort_code,\n    cs.target_apartment_ids,\n    cpo.price_per_night,\n    cpo.observed_at,\n    cpo.observation_quality,\n    cpo.confidence AS obs_confidence,\n    (NOW() - cpo.observed_at) AS age_interval,\n    CASE\n      WHEN (NOW() - cpo.observed_at) <= INTERVAL '14 days' THEN 1.0\n      WHEN (NOW() - cpo.observed_at) <= INTERVAL '30 days' THEN 0.7\n      WHEN (NOW() - cpo.observed_at) <= INTERVAL '60 days' THEN 0.4\n      ELSE 0.2\n    END AS recency_weight,\n    CASE WHEN (NOW() - cpo.observed_at) > INTERVAL '14 days' THEN TRUE ELSE FALSE END AS is_stale\n  FROM competitor_sources cs\n  JOIN LATERAL (\n    SELECT * FROM competitor_price_observations\n    WHERE competitor_source_id = cs.id\n    ORDER BY observed_at DESC LIMIT 1\n  ) cpo ON TRUE\n  WHERE cs.status IN ('active', 'approved')\n    AND cs.discovery_status IN ('seeded', 'approved')\n    AND cs.similarity_score >= 80\n    AND cs.cohort_code IS NOT NULL\n    AND cs.cohort_code != 'gelendzhik_background_market'\n),\nweighted AS (\n  SELECT *,\n    (similarity_score / 100.0)\n    * signal_quality_score\n    * recency_weight\n    * CASE WHEN is_static_price THEN 0.5 ELSE 1.0 END AS final_weight\n  FROM cohort_sources\n)\nSELECT\n  cohort_code,\n  COUNT(*) AS source_count,\n  MIN(price_per_night) AS market_min,\n  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY price_per_night) AS market_median,\n  SUM(price_per_night * final_weight) / NULLIF(SUM(final_weight), 0) AS weighted_avg,\n  MAX(price_per_night) AS market_max,\n  bool_or(is_stale) AS has_stale_data,\n  COUNT(*) FILTER (WHERE NOT is_stale) AS fresh_count,\n  json_agg(json_build_object(\n    'name', name,\n    'similarity_score', similarity_score,\n    'signal_quality_score', signal_quality_score,\n    'price_per_night', price_per_night,\n    'is_stale', is_stale,\n    'is_static_price', is_static_price,\n    'final_weight', final_weight,\n    'cohort_code', cohort_code\n  )) AS source_details\nFROM weighted\nGROUP BY cohort_code\n",
        "additionalFields": {}
      },
      "id": "pg-load-cs-c15",
      "name": "Load Competitor Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gelendzhik_db",
          "name": "Gelendzhik DB"
        }
      }
    }
  ],
  "connections": {
    "Daily 08:00": {
      "main": [
        [
          {
            "node": "Load Gap Windows",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Gap Windows": {
      "main": [
        [
          {
            "node": "Calculate Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Market Data": {
      "main": [
        [
          {
            "node": "Load Competitor Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Recommendations": {
      "main": [
        [
          {
            "node": "Has Recommendations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Recommendations?": {
      "main": [
        [
          {
            "node": "Upsert Recommendations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cleanup Old Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Recommendations": {
      "main": [
        [
          {
            "node": "Cleanup Old Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Competitor Sources": {
      "main": [
        [
          {
            "node": "Calculate Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12-pricing-recommender-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}